<html>
	<head><title>Opera Omnia - Request Successful</title></head>
	<body>
		<h1>Request Successful!</h1>
		<p>Listen to <a href="/stream">the stream</a> to hear your request.</p>
		<p>Thanks for requesting! It will make everyone's life better. Party on, dude.</p>
		<h6>&copy; Matt Kane 2012. A product of <a href="http://rethink.musichackathon.org/">the Rethink Music Hackers' Weekend</a>. <a href="http://github.com/mkb218/opera-omnia">github</a>. <a href="http://twitter.com/nynexrepublic">@nynexrepublic</a>. <a href="http://nynex.hydrogenproject.com">blog</a>. <a href="https://www.facebook.com/RepublicOfNynex">Facebook</a>.</h6>
	</body>
</html>