<html>
	<head><title>Opera Omnia - Upload Successful</title></head>
	<body>
		<h1>Upload Successful!</h1>
		{{if .}}<p>Listen to <a href="/stream">the stream</a> to hear your request.</p>{{end}}
		<p>Thanks for uploading! It will make everyone's life better. Be excellent to each other.</p>
		<h6>&copy; Matt Kane 2012. A product of <a href="http://rethink.musichackathon.org/">the Rethink Music Hackers' Weekend</a>. <a href="http://github.com/mkb218/opera-omnia">github</a>. <a href="http://twitter.com/nynexrepublic">@nynexrepublic</a>. <a href="http://nynex.hydrogenproject.com">blog</a>. <a href="https://www.facebook.com/RepublicOfNynex">Facebook</a>.</h6>
	</body>
</html>